
<h3><%= link_to "Top", "/" %></h3>

<h3><%= link_to "All Users", :controller=>"users", :action=>"list" %></h3>

<h3>Badges</h3>
<% User.badge_options.each do |label,key| %>
  <%= link_to h("#{label}"), :controller=>"users", :action=>"list_by_badge", :badge=>key %>
<% end %>

<h3>Tags</h3>
<% cache_util.get_tag_and_counts.each do |tag,count| %>
  <%= link_to h("#{tag}(#{count})"), :controller=>"users", :action=>"list_by_tag", :tag=>tag %>
<% end %>

<h3>Logout</h3>
<%= link_to "Logout", :controller=>"twitter", :action=>"logout" %>


<h3>Admin</h3>
<%= link_to "Instances", :controller=>"/admin/admin", :action=>"instances" %>
