<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Demo for JRubyKaigi2010</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<p class="notice" style="color: green"><%= h notice %></p>
<%= yield %>

<div>
  <hr />
  <%= link_to "Top", "/" %>
</div>

</body>
</html>
