<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Demo for JRubyKaigi2010</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<p class="notice" style="color: green"><%= h notice %></p>
<%= yield %>

<div>
  <hr />
  <%= link_to "Top", "/" %>
  <a href="http://code.google.com/appengine/"><img class="noborder" src="/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>
  <a href="http://code.google.com/p/appengine-jruby/"><img class="noborder" src="/images/logo.png" alt="AppEngine/JRuby" /></a>
  <a href="http://rubyonrails.org/"><img class="noborder" src="/images/rails.png" alt="Powered by Ruby on Rails" /></a>
</div>

</body>
</html>
