<h2>プロフィール編集 / Edit your profile</h2>

<% form_for @user, :url=>{:action=>"edit"} do |f| %>
  <p>
    バッジ / Badges:
    <% User.badge_options.each do |label,key| %>
      <%= check_box_tag "user[badges][]", key, @user.badges.include?(key) %><%=h(label)%>
    <% end %>
  </p>
  <p>
    URL:<%= f.text_field :url %>
  </p>
  <p>
    自己紹介 / About me:<br />
    <%= f.text_area  :memo, :rows=>6 %>
  </p>
  <p>
    タグ / Tags: <%= f.text_field :tags, :value=>@user.tags.join(" ") %>
  </p>

  <%= submit_tag "save" %>
<% end %>
